.photo_books {
    height: 300px;
    overflow: hidden;
}

.card .card_image {
    z-index: 0;
    object-fit: cover;
    border-radius: 20px;
    /*box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    height: 300px;
    width: 210px;
    overflow: hidden;
    display: flex;
}

.card .card_image:hover {
    transform: scale(0.97, 0.97);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25),
    -2px -2px -15px -4px rgba(0, 0, 0, 0.22);
}

.card {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: -webkit-center;
}

.btn_preview:hover .card_image, .btn_download:hover .card_image {
    transform: scale(0.9, 0.9);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25),
    -2px -2px -15px -4px rgba(0, 0, 0, 0.22);
}

.card_image:hover .btn_download {
    opacity: 1;
    transition: opacity .3s;
}

.btn_download:hover {
    background: black;
    /*border: double;*/
}

.card_image:hover .btn_preview {
    opacity: 1;
    transition: opacity .3s;
}

.btn_preview:hover {
    /*background: #a03ede;*/
    /*border: double;*/
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(42deg) brightness(97%) contrast(103%);
}

.btn_preview {
    opacity: 0;
    filter: invert(15%) sepia(17%) saturate(3218%) hue-rotate(287deg) brightness(85%) contrast(113%);
    /* border-radius: 20px; */
    /* width: 90px; */
    /* height: 25px; */
    /* background: rgba(40, 44, 52, .6); */
    color: #440824;
    position: absolute;
    top: 85%;
    left: 79%;
    /* color: white; */
    /* font-size: 15px; */
    /* border: none; */
    cursor: pointer;
    /* text-align: center; */
}

.btn_download {
    opacity: 0;
    border-radius: 20px;
    width: 90px;
    height: 25px;
    background: #440824;
    position: absolute;
    top: 5%;
    left: 50%;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 550px) {
    .card .card_image {
        height: 250px;
        width: 175px;
    }

    .photo_books {
        height: 250px;
    }

    .btn_download {
        width: 75px;
        height: 20px;
        top: 3%;
        font-size: 13px;
    }

    .btn_preview {
        width: 75px;
        height: 20px;
        top: 85%;
        left: 62%;
        font-size: 13px;
    }
}

@media (max-width: 450px) {
    .card .card_image {
        height: 200px;
        width: 140px;
    }

    .photo_books {
        height: 200px;
    }

    h3 {
        font-size: 14px;
    }

    .btn_download {
        width: 66px;
        height: 20px;
        font-size: 12px;
        top: 3%;
        left: 47%;
    }

    .btn_preview {
        width: 66px;
        height: 20px;
        font-size: 12px;
        top: 16%;
        left: 47%;
    }
}

@media (max-width: 360px) {
    .card .card_image {
        height: 300px;
        width: 210px;
    }

    .photo_books {
        height: 300px;
    }

    h3 {
        font-size: 14px;
    }

    .btn_download {
        width: 90px;
        height: 25px;
        top: 4%;
        left: 50%;
        font-size: 15px;
    }

    .btn_preview {
        width: 90px;
        height: 25px;
        top: 86%;
        left: 65%;
        font-size: 15px;
    }
}
