img {
    height: 300px;
    overflow: hidden;
}

.card .card_image {
    z-index: 0;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    height: 300px;
    width: 210px;
    overflow: hidden;
    display: flex;
}

.card .card_image:hover {
    transform: scale(0.97, 0.97);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25),
    -2px -2px -15px -4px rgba(0, 0, 0, 0.22);
}

.card {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: -webkit-center;
}

.btn_preview:hover .card_image, .btn_download:hover .card_image {
    transform: scale(0.9, 0.9);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.25),
    -2px -2px -15px -4px rgba(0, 0, 0, 0.22);
}

.card_image:hover .btn_download {
    opacity: 1;
    transition: opacity .3s;
}

.card_image:hover .btn_preview {
    opacity: 1;
    transition: opacity .3s;
}

.btn_preview {
    opacity: 0;
    border-radius: 20px;
    width: 90px;
    height: 25px;
    background: rgba(40, 44, 52, .6);
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn_download {
    opacity: 0;
    border-radius: 20px;
    width: 90px;
    height: 25px;
    background: rgba(40, 44, 52, .9);
    position: absolute;
    top: 4%;
    left: 50%;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}