.App-header {
    /*background-color: #1D1E33;*/
    background-color: #440824;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5.5vw;
    padding: 5.5vw;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: center;
}

@media (max-width: 1400px) {
    .App-header {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1150px) {
  .App-header {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .App-header {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5.5vw;
    padding: 6.5vw;
  }
}

@media (max-width: 360px) {
  .App-header {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10vw;
    padding: 10vw;
  }
}
